{% include 'banner.html' %}

<body>
    <div class="" id="container">

        <div class ="d-flex justifiy-content-around" id="tout">

            <div class="col" id="img" >
                <img src="{{ url_for('static', filename='img/ranch.png') }}" class="img-fluid" id="img" alt="Responsive image"> 
            </div>
            <div class="col" id="club-grand-galop" >
                <h2 class="" id="title-h2-1">Club Grand Galop</h2>
                <h2 class="" id="title-h2-2">Centre Équestre</h2>
                <h2 class="" id="title-h2-3">de Lamotte-Beuvron</h2>
            </div>    
            <div class="col" id="droite">
                <div     id="milieu-titre">
                    <h1>"Vous êtes dans la course"</h1>
                </div>
                <div class="" id="text-droite">
                    <p>Ecole Française d'Equitation.
                        labellisée Cheval Club de France, Poney-Club de France, Equi-handi Club, Centre de Tourisme Équestre et "Bien être animal".
                        Un site unique à la limite de la ville et de la Sologne, avec plus de 5000m² couverts pour le confort des 50 chevaux et poneys du club mais également celui des cavaliers passionnés </p>
                </div>

            </div>

        </div>

    </div>
</body>

<style>

    #container{
        background-color: #e3efc9;
    }

    #club-grand-galop{
        position: relative;
        left: -5%;
        background-color: #baea79;
        padding: 20px;
        margin: auto;
        border-radius: 20px;
        box-sizing: border-box;
        flex-grow: 0.505;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #img{
        width: auto;
        height: auto;
        margin: auto;
    }
    #tout{
        margin-top: 45px;
        background-color: #baea79;

    }
    h2{
        font-size: 230% !important;
        font-family: Fredoka One, sans-serif;
    }

    #milieu-titre{
        font-size: 1200%;
        font-family: Clicker Script;
    }

    #text-droite{
        font-family: Kreon;
    }

 </style>