<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    *{
        font-family: 'Source Sans Pro', sans-serif;
    }
    body{
      background: url("{{ url_for('static', filename='../static/img/login.png') }}")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
</style> 
<script src="{{ url_for('static', filename='js/jquery-3.6.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}">
<body style='height: 100vh;' class="d-flex align-items-center">
<div class="container d-flex justify-content-center">
<form style="width: 29vw;height: 50vh;background-color: rgba(0, 0, 0, 0.712);padding: 0 2em 2em 2em;" method="POST" class="">
    <div class="d-flex justify-content-center" style="margin-bottom: 1em;">
        <img alt="GRAND_GALOP" src="{{ url_for('static', filename='img/grand_galop.png') }}" style="width: 8em;justify-content: center;">
    </div>
    <div class="form-group d-flex justify-content-center">
        <span style="color: white;margin-bottom: 1em;height: 1em;font-size: 1.5em;">{{ error }}</span>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" style="height:3rem;margin-bottom: 2em;" value="luis.doudeau@gmail.com">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Mot de passe" style="height:3rem;margin-bottom: 2em;" value = "chèvre123!">
    </div>
    <div class="d-flex justify-content-between">
        <button style="width: 11em;height: 3rem;font-weight: bold;" type="submit" class="btn btn-success">SE CONNECTER</button>
        <button style="width: 11em;height:3rem;font-weight: bold" type="submit" class="btn btn-success">AIDE</button>
    </div>
  </form>
</div>
</body>